body {
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 400;
  }
.avenir {
    font-family: "LINE Seed JP", sans-serif !important;
    font-weight: 400 !important;
  }
.athelas {
    font-family: "LINE Seed JP", sans-serif !important;
    font-weight: 400 !important;
  }
.serif {
    font-family: "LINE Seed JP", sans-serif !important;
    font-weight: 400 !important;
  }
.f4 {
    font-size: 1.1rem !important;
  }